<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/mystyle.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css"/>
    <script src="/static/bootstrap/js/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body >

<header class="header" style="height:90px">
    <div class="header-container">
        <div class="header-top">
            <a href="{% url 'index' 1 %}" class="logo"></a>
            <nav class="header-nav">
                <ul>
                    <li><a href="{% url 'index' 1 %}">音乐馆</a></li>
                    <li><a href="{% url 'myuser' %}">我的音乐</a></li>
                    {% if request.session.musicuser.musicsinger %}
                        <li><a href="{% url 'musicsingerindex' request.session.musicuser.users_id %}">音乐人</a></li>
                    {% endif %}
                    {% if request.session.musicuser %}
                        <li><a href="{% url 'friend' request.session.musicuser.users_id %}" class="header-nav__cur">好友</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="header-search">
                <form method="get" action="{% url 'usersearch' 1 %}">
                    <input type="text" name="key" class="text" placeholder="搜索用户(账号/昵称)">
                    <div class="btn"><button type="submit"><i class="icon-sprite"></i></button></div>
                </form>
            </div>
            <div class="header-login">
                <ul class="nav nav-pills">
                    <li class="dropdown">
                        {% if request.session.musicuser %}
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <h5>
                                <svg viewBox="0 0 8 8"
                                     width="8px"
                                     height="8px">
                                    <circle cx="4"
                                            cy="4"
                                            r="4"
                                            fill="#00ff00"
                                    ></circle>
                                </svg>
                                {{ request.session.musicuser.nickname }}<span class="caret"></span>
                            </h5>
                        </a>
                        <ul class="dropdown-menu">
                            <li><h5 class="text-center">{{ request.session.musicuser.username }}</h5></li>
                            <li class="text-center"><img src="{{ request.session.musicuser.headprotrait }}" class="img-circle" width="70" height="70"></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'useredit' request.session.musicuser.users_id %}"><h5>修改个人信息</h5></a></li>
                            {% if request.session.musicuser.musicsinger %}
                                <li><a href="{% url 'musicsingerinfo' request.session.musicuser.users_id %}"><h5>修改音乐人信息</h5></a></li>
                            {% else %}
                                <li><a href="{% url 'musicsinger' request.session.musicuser.users_id %}"><h5>成为音乐人</h5></a></li>
                            {% endif %}
                            <li><a href="{% url 'logout' %}"><h5>退出登录</h5></a></li>
                        </ul>
                        {% else %}
                        <a class="dropdown-toggle" href="{% url 'login' %}">
                            <h5>登录/注册</h5>
                        </a>
                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="user-list" class="list-group">
                    <a href="" class="list-group-item disabled">
                        <h4 class="list-group-item-heading">好友</h4>
                        {# Users go here #}
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">聊天</h4>
                    </div>
                    <div>
                        <ul id="messages" class="messages">
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="chat-input" type="text"
                                   class="form-control input"
                                   placeholder="输入发送的消息"
                                   maxlength="500">
                            <span class="input-group-btn">
                            <button class="btn btn-info btn"
                                    id="btn-send">
                                发送</button>
                        </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<footer class="footer" style="height:90px;">
    <div class="footer-inner">
        <div class="footer-copyright">
            <p>版权所有 SKY MUSIC</p>
        </div>
    </div>
</footer>
<script>
    let sessionKey = {{ request.session.musicuser.users_id }};
    let currentUser = '{{ request.session.musicuser.username }}';
    let headprotrait = '{{ request.session.musicuser.headprotrait }}';
</script>
<script src="/static/js/chat.js"></script>
</body>
</html>
